.videoModule {
  max-height: 90%;
}
.navBar {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.title {
  text-align: center;
}
.videoDetails p {
  margin: 0;
  padding: 0;
}

.videoDetails {
  color: #8a8a8e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Adjust width as needed */
  font-size: 18pt;
  font-family: "Outfit", sans-serif;
}

.videoDetailsRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px; /* This controls the space between the <p> tags */
}
.videoDetailsleft {
  display: flex;
  flex-direction: column;
  gap: 4px; /* This controls the space between the <p> tags */
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px; /*Adjust the spacing as needed */
  padding: 10px 10px; /* 20px padding on the left and right */
  background-color: #f2f2f7;
}

.videoItem {
  width: 100%;
  height: auto; /* Adjust height as needed */
}
