.navBar {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.title {
  text-align: center;
}
.videoDetails p {
  margin: 0;
  padding: 0;
}

.galleryHeader {
  margin-bottom: 10px;
}

.galleryHeader h2 {
  font-size: 26pt;
  font-style: italic;
  font-weight: bold;
  font-family: "Barlow Condensed", "Outfit", sans-serif;
  color: #094300;
  text-align: center;
  margin: 0;
  padding: 0;
}

.galleryHeader p {
  font-family: "Outfit", sans-serif;
  font-size: 18pt;
  font-weight: light;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #737376;
  margin: 0;
  padding: 0;
}

.videoDetails {
  color: #8a8a8e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Adjust width as needed */
  font-size: 18pt;
  font-family: "Outfit", sans-serif;
}

.videoDetailsRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px; /* This controls the space between the <p> tags */
}
.videoDetailsleft {
  display: flex;
  flex-direction: column;
  gap: 4px; /* This controls the space between the <p> tags */
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px; /*Adjust the spacing as needed */
  padding: 10px; /* 20px padding on the left and right */
  background-color: #f2f2f7;
}
@media (min-width: 768px) {
  .gridContainer {
    padding-left: 100px; /* Desktop padding */
    padding-right: 100px;
    gap: 20px;
  }
  .galleryHeader {
    margin-bottom: 20px;
  }
}

.videoItem {
  border-radius: 8pt;
  width: 100%;
  height: auto; /* Adjust height as needed */
}

/* Thats all for now module */
.thatsAll p {
  font-family: "Outfit", sans-serif;
  font-size: 18pt;
  font-weight: light;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  color: #737376;
}

/*Feedback Form */
.feedbackForm {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e6e6eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.feedbackForm h2 {
  text-align: center;
  color: #094300;
  font-family: "Outfit", sans-serif;
  font-size: 22pt;
  font-weight: bold;
}

.feedbackForm p {
  color: #737376;
  font-size: 18pt;
  font-family: "Outfit", sans-serif;
  font-weight: light;
  text-align: center;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.stars label {
  font-size: 2em; /* Adjust size as needed */
  cursor: pointer;
  transition: transform 0.2s;
}
/* Style for selected emoji */
.feedbackForm input[type="radio"]:checked + label {
  transform: scale(1.2);
}

.feedbackForm input[type="radio"] {
  display: none;
}

.feedbackForm input[type="text"] {
  width: 400px;
  border: #c2c2c4, 1px, solid;
}

.feedbackForm button {
  border-radius: 8px;
  font-size: 18px;
  color: #ffffff;
  background-color: #094300;
}

.feedbackForm button:disabled {
  color: #094300;
  background-color: transparent;
  border: 1px solid #094300;
}

.shareButton {
  margin-right: 20px;
  font-size: 18px;
  color: #ffffff;
  background-color: #094300;
  border-radius: 8px;
  border: #094300, 1px, solid;
}
